<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<% include ../partials/navbar %>
  	<% include ../partials/flash-messages %>
  	<%- body -%>
  </body>
</html>