<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>
    <%= title %>
  </title>
  <!-- Include BS4 CDN for development -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Theme Styles -->
  <link rel="stylesheet" href="/wrapkit/css/style.css" />
  <link rel="stylesheet" href="/wrapkit/css/index-landingpage/landing-page.css" />
  <!-- Custom Styles -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet"
    href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.css"
    type="text/css" />
  <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.css" rel="stylesheet" />
  <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js"></script>
  <script
    src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.3.0/mapbox-gl-geocoder.min.js"></script>
  <!-- Get your own Font Awesome kit script from https://fontawesome.com/start this one won't work for you -->
  <script src="https://kit.fontawesome.com/7870957ffd.js"></script>
</head>

<body>
  <!-- Main Wrapper  -->
  <div id="main-wrapper">
    <% include ../partials/navbar %>
      <% include ../partials/flash-messages %>

        <!-- Page Wrapper  -->
        <div class="page-wrapper">
          <!-- Container fluid  -->
          <div class="container-fluid">
            <!-- Static Slider 10  -->
            <div class="static-slider-head" style="background-image:url(/images/banner-bg.jpg)">
              <div class="container">
                <!-- Row  -->
                <div class="row justify-content-center">
                  <!-- Column -->
                  <div class="col-lg-8 col-md-6 align-self-center text-center" data-aos="fade-up"
                    data-aos-duration="1200">
                    <h1 class="title"><i class="fas fa-water"></i> Surf Shop</h1>
                    <h4 class="subtitle font-light">Buy and Sell Surf Boards</h4>
                    <a href="/posts" class="btn btn-outline-light m-r-20 btn-md m-t-30 font-14">Shop</a>
                    <a href="<%= currentUser ? '/posts/new' : '/register' %>" class="btn btn-md m-t-30 btn-danger-gradiant font-14">Sell</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Container fluid  -->
        </div>
        <!-- /Page Wrapper  -->

        <%- body -%>

          <!-- Footer  -->
          <div class="footer4 b-t spacer">
            <div class="container">
              <div class="row">
                <div class="col-lg-3 col-md-6 m-b-30">
                  <h5 class="m-b-20">Address</h5>
                  <p>100 Surf Shop Ln, CA 94051</p>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30">
                  <h5 class="m-b-20">Phone</h5>
                  <p><a href="tel:+15555555555" class="link">+1 555 555 5555</a></p>
                </div>
                <div class="col-lg-3 col-md-6 m-b-30">
                  <h5 class="m-b-20">Email</h5>
                  <p><a href="mailto:info@surfshop.wav" class="link">info@surfshop.wav</a></p>
                </div>
                <div class="col-lg-3 col-md-6">
                  <h5 class="m-b-20">Social</h5>
                  <div class="round-social light">
                    <a href="#" class="link"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="link"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="link"><i class="fab fa-google-plus"></i></a>
                    <a href="#" class="link"><i class="fab fa-youtube"></i></a>
                    <a href="#" class="link"><i class="fab fa-instagram"></i></a>
                  </div>
                </div>
              </div>
              <div class="f4-bottom-bar">
                <div class="row">
                  <div class="col-md-12">
                    <div class="d-flex font-14">
                      <div class="m-t-10 m-b-10 copyright">All Rights Reserved by Surf Shop.</div>
                      <div class="links ml-auto m-t-10 m-b-10">
                        <a href="#" class="p-10 p-l-0">Terms of Use</a>
                        <a href="#" class="p-10">Legal Disclaimer</a>
                        <a href="#" class="p-10">Privacy Policy</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Footer  -->
  </div>
  <!-- /Main Wrapper  -->

  <!-- Add photo credit to footer: Photo by Tim Marshall on Unsplash -->

  <!-- Scripts -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <% if (title==="Posts Index" ) { %>
    <script src="/javascripts/post-index.js"></script>
    <% } %>
      <script src="/wrapkit/js/custom.min.js"></script>
      <script type="text/javascript">
        $('a').on('click', function (event) {
          var $anchor = $(this);
          $('html, body').stop().animate({
            scrollTop: $($anchor.attr('href')).offset().top - 90
          }, 1000);
          event.preventDefault();
        });

        $(".custom-file-input").on("change", function () {
          var fileName = $(this).val().split("\\").pop();
          $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });

        $(".mimicLabel").on("click", function () {
          $(this).siblings(".custom-file").children("input").focus();
        })

        $(".flash-div").css({
          "position": "absolute",
          "top": "90px",
          "left": "50%",
          "transform": "translateX(-50%)"
        })
      </script>
</body>

</html>