<% layout('layouts/boilerplate') -%>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div id="map"></div>

<script>
	mapboxgl.accessToken = "<%= mapBoxToken %>";
	var posts = { features: <%- JSON.stringify(posts) %> };
</script>
<script src="/javascripts/allPostsClusterMap.js"></script>
