<% layout('layouts/boilerplate') -%>

<h1><%= currentUser.username %>'s Profile</h1>

<p>Recent Posts:</p>

<% posts.forEach(function(post) { %>
<div>
	<a href="/posts/<%= post.id %>"><%= post.title %></a>
</div>
<% }); %>