/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.static-slider-head {
    min-height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    background-size: cover;
    background-position: center center;
}

.static-slider-head .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
}

.static-slider-head .subtitle {
    color: #ffffff;
    line-height: 30px;
}

@media (max-width: 1023px) {
    .static-slider-head {
        display: none;
    }
    .topbar {
        background: #263238;
    }
}