#map {
    width: 100%;
    /* width: 350px; */
    height: 100%;
    max-height: 400px;
}

.marker {
    background-image: url('/images/mapbox-icon.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.edit-review-form-container {
    display: none;
}

.clear-rating {
    display: block;
}

.static-slider-head {
    min-height: 90px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: auto;
    background-size: cover;
    background-position: center center;
}

.static-slider-head .title {
    color: #ffffff;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
}

.static-slider-head .subtitle {
    color: #ffffff;
    line-height: 30px;
}

.userActions {
    display: flex;
}

.carousel-inner {
    height: 500px;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
    max-width: none;
    object-fit: cover;
    /* width: 100vw;
    height: 100vh;
    object-fit: cover; */
    object-position: center;
}

@media (max-width: 1023px) {
    .static-slider-head {
        display: none;
    }
    .topbar {
        background: #263238;
    }
}

@media (max-width: 991px) {
    #map {
        min-height: 400px;
    }
}

@media (max-width: 767px) {
    .carousel img {
        height: 300px;
    }
    .carousel-inner {
        height: 300px;
    }
}

@media (max-width: 576px) {
    .carousel img {
        height: 280px;
    }
    .carousel-inner {
        height: 280px;
    }
}