body {
  margin: 0;
  padding: 0;
}

#map {
  width: 350px;
  height: 200px;
}

.marker {
  background-image: url('/images/mapbox-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}