body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
	width: 100%;
	height: 500px;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.profile-image {
	width: 100px;
	border-radius: 50%;
}








