.logo {
	color: #fff;
}
.logo:hover {
	color: #fff;
}

#map {
	width: 100%;
	height: 500px;
}

.mapboxgl-popup {
	max-width: 400px;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
	color: green;
}

.color-red {
	color: red;
}

.profile-image {
	width: 100px;
	border-radius: 50%;
}
