<% layout('layouts/boilerplate') -%>

<h1>Reset Password</h1>

<form action="/reset/<%= token %>?_method=PUT" method="POST">
	<div>
		<label for="password">New Password</label>
		<input type="password" name="password" id="password" placeholder="New password" autofocus>
	</div>
	<div>
		<label for="confirm">Confirm Password</label>
		<input type="password" name="confirm" id="confirm" placeholder="Confirm password">
	</div>
	<div>
		<input type="submit" value="Update Password">
	</div>
</form>