{
  "name": "wrapkit-free",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "c2a/c2a.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/c2a/c2a.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "contact/contact.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/contact/contact.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "form/form.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/form/form.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "form-banner/form-banner1-10.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/form-banner/form-banner1-10.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "headers/headers1-10.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/headers/headers1-10.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "index-landingpage/landing-page.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../css/index-landingpage/landing-page.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "headers",
      "index-landingpage"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "app.scss",
      "imports": [
        "variable.scss"
      ]
    },
    {
      "path": "style.scss",
      "imports": [
        "variable.scss",
        "../css/animate.css",
        "icons/font-awesome/css/font-awesome.min.css",
        "icons/simple-line-icons/css/simple-line-icons.css",
        "icons/weather-icons/css/weather-icons.min.css",
        "icons/themify-icons/themify-icons.css",
        "icons/flag-icon-css/flag-icon.min.css",
        "icons/iconmind/iconmind.css",
        "app.scss",
        "common.scss",
        "responsive.scss"
      ]
    },
    {
      "path": "index-landingpage/landing-page.scss",
      "imports": [
        "variable.scss"
      ]
    },
    {
      "path": "icons/font-awesome/less/font-awesome.less",
      "imports": [
        "icons/font-awesome/less/variables.less",
        "icons/font-awesome/less/mixins.less",
        "icons/font-awesome/less/path.less",
        "icons/font-awesome/less/core.less",
        "icons/font-awesome/less/larger.less",
        "icons/font-awesome/less/fixed-width.less",
        "icons/font-awesome/less/list.less",
        "icons/font-awesome/less/bordered-pulled.less",
        "icons/font-awesome/less/animated.less",
        "icons/font-awesome/less/rotated-flipped.less",
        "icons/font-awesome/less/stacked.less",
        "icons/font-awesome/less/icons.less",
        "icons/font-awesome/less/screen-reader.less"
      ]
    },
    {
      "path": "icons/font-awesome/scss/font-awesome.scss",
      "imports": [
        "icons/font-awesome/scss/_variables.scss",
        "icons/font-awesome/scss/_mixins.scss",
        "icons/font-awesome/scss/_path.scss",
        "icons/font-awesome/scss/_core.scss",
        "icons/font-awesome/scss/_larger.scss",
        "icons/font-awesome/scss/_fixed-width.scss",
        "icons/font-awesome/scss/_list.scss",
        "icons/font-awesome/scss/_bordered-pulled.scss",
        "icons/font-awesome/scss/_animated.scss",
        "icons/font-awesome/scss/_rotated-flipped.scss",
        "icons/font-awesome/scss/_stacked.scss",
        "icons/font-awesome/scss/_icons.scss",
        "icons/font-awesome/scss/_screen-reader.scss"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons-classes.less",
      "imports": [
        "icons/weather-icons/less/icon-classes/classes-day.less",
        "icons/weather-icons/less/icon-classes/classes-night.less",
        "icons/weather-icons/less/icon-classes/classes-neutral.less",
        "icons/weather-icons/less/icon-classes/classes-misc.less",
        "icons/weather-icons/less/icon-classes/classes-moon.less",
        "icons/weather-icons/less/icon-classes/classes-moon-aliases.less",
        "icons/weather-icons/less/icon-classes/classes-time.less",
        "icons/weather-icons/less/icon-classes/classes-direction.less",
        "icons/weather-icons/less/icon-classes/classes-beaufort.less"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons-variables.less",
      "imports": [
        "icons/weather-icons/less/icon-variables/variables-beaufort.less",
        "icons/weather-icons/less/icon-variables/variables-time.less",
        "icons/weather-icons/less/icon-variables/variables-moon.less",
        "icons/weather-icons/less/icon-variables/variables-direction.less",
        "icons/weather-icons/less/icon-variables/variables-day.less",
        "icons/weather-icons/less/icon-variables/variables-night.less",
        "icons/weather-icons/less/icon-variables/variables-neutral.less",
        "icons/weather-icons/less/icon-variables/variables-misc.less"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons-wind.less",
      "imports": [
        "icons/weather-icons/less/weather-icons-core.less",
        "icons/weather-icons/less/icon-variables/variables-wind-names.less",
        "icons/weather-icons/less/icon-classes/classes-wind.less",
        "icons/weather-icons/less/icon-classes/classes-wind-degrees.less",
        "icons/weather-icons/less/icon-classes/classes-wind-aliases.less"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons-wind.min.less",
      "imports": [
        "icons/weather-icons/less/weather-icons-core.less",
        "icons/weather-icons/less/icon-variables/variables-wind-names.less",
        "icons/weather-icons/less/icon-classes/classes-wind.less",
        "icons/weather-icons/less/icon-classes/classes-wind-degrees.less",
        "icons/weather-icons/less/icon-classes/classes-wind-aliases.less"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons.less",
      "imports": [
        "icons/weather-icons/less/weather-icons-core.less",
        "icons/weather-icons/less/weather-icons-variables.less",
        "icons/weather-icons/less/weather-icons-classes.less",
        "icons/weather-icons/less/mappings/wi-yahoo.less",
        "icons/weather-icons/less/mappings/wi-forecast-io.less",
        "icons/weather-icons/less/mappings/wi-wmo4680.less",
        "icons/weather-icons/less/mappings/wi-owm.less",
        "icons/weather-icons/less/icon-variables/variables-beaufort.less",
        "icons/weather-icons/less/icon-variables/variables-time.less",
        "icons/weather-icons/less/icon-variables/variables-moon.less",
        "icons/weather-icons/less/icon-variables/variables-direction.less",
        "icons/weather-icons/less/icon-variables/variables-day.less",
        "icons/weather-icons/less/icon-variables/variables-night.less",
        "icons/weather-icons/less/icon-variables/variables-neutral.less",
        "icons/weather-icons/less/icon-variables/variables-misc.less",
        "icons/weather-icons/less/icon-classes/classes-day.less",
        "icons/weather-icons/less/icon-classes/classes-night.less",
        "icons/weather-icons/less/icon-classes/classes-neutral.less",
        "icons/weather-icons/less/icon-classes/classes-misc.less",
        "icons/weather-icons/less/icon-classes/classes-moon.less",
        "icons/weather-icons/less/icon-classes/classes-moon-aliases.less",
        "icons/weather-icons/less/icon-classes/classes-time.less",
        "icons/weather-icons/less/icon-classes/classes-direction.less",
        "icons/weather-icons/less/icon-classes/classes-beaufort.less"
      ]
    },
    {
      "path": "icons/weather-icons/less/weather-icons.min.less",
      "imports": [
        "icons/weather-icons/less/weather-icons-core.less",
        "icons/weather-icons/less/weather-icons-variables.less",
        "icons/weather-icons/less/weather-icons-classes.less",
        "icons/weather-icons/less/mappings/wi-yahoo.less",
        "icons/weather-icons/less/mappings/wi-forecast-io.less",
        "icons/weather-icons/less/mappings/wi-wmo4680.less",
        "icons/weather-icons/less/mappings/wi-owm.less",
        "icons/weather-icons/less/icon-variables/variables-beaufort.less",
        "icons/weather-icons/less/icon-variables/variables-time.less",
        "icons/weather-icons/less/icon-variables/variables-moon.less",
        "icons/weather-icons/less/icon-variables/variables-direction.less",
        "icons/weather-icons/less/icon-variables/variables-day.less",
        "icons/weather-icons/less/icon-variables/variables-night.less",
        "icons/weather-icons/less/icon-variables/variables-neutral.less",
        "icons/weather-icons/less/icon-variables/variables-misc.less",
        "icons/weather-icons/less/icon-classes/classes-day.less",
        "icons/weather-icons/less/icon-classes/classes-night.less",
        "icons/weather-icons/less/icon-classes/classes-neutral.less",
        "icons/weather-icons/less/icon-classes/classes-misc.less",
        "icons/weather-icons/less/icon-classes/classes-moon.less",
        "icons/weather-icons/less/icon-classes/classes-moon-aliases.less",
        "icons/weather-icons/less/icon-classes/classes-time.less",
        "icons/weather-icons/less/icon-classes/classes-direction.less",
        "icons/weather-icons/less/icon-classes/classes-beaufort.less"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons-classes.scss",
      "imports": [
        "icons/weather-icons/sass/icon-classes/classes-day.scss",
        "icons/weather-icons/sass/icon-classes/classes-night.scss",
        "icons/weather-icons/sass/icon-classes/classes-neutral.scss",
        "icons/weather-icons/sass/icon-classes/classes-misc.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon-aliases.scss",
        "icons/weather-icons/sass/icon-classes/classes-time.scss",
        "icons/weather-icons/sass/icon-classes/classes-direction.scss",
        "icons/weather-icons/sass/icon-classes/classes-beaufort.scss"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons-variables.scss",
      "imports": [
        "icons/weather-icons/sass/icon-variables/variables-beaufort.scss",
        "icons/weather-icons/sass/icon-variables/variables-time.scss",
        "icons/weather-icons/sass/icon-variables/variables-moon.scss",
        "icons/weather-icons/sass/icon-variables/variables-direction.scss",
        "icons/weather-icons/sass/icon-variables/variables-day.scss",
        "icons/weather-icons/sass/icon-variables/variables-night.scss",
        "icons/weather-icons/sass/icon-variables/variables-neutral.scss",
        "icons/weather-icons/sass/icon-variables/variables-misc.scss"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons-wind.min.scss",
      "imports": [
        "icons/weather-icons/sass/weather-icons-core.scss",
        "icons/weather-icons/sass/icon-variables/variables-wind-names.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind-degrees.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind-aliases.scss"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons-wind.scss",
      "imports": [
        "icons/weather-icons/sass/weather-icons-core.scss",
        "icons/weather-icons/sass/icon-variables/variables-wind-names.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind-degrees.scss",
        "icons/weather-icons/sass/icon-classes/classes-wind-aliases.scss"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons.min.scss",
      "imports": [
        "icons/weather-icons/sass/weather-icons-core.scss",
        "icons/weather-icons/sass/weather-icons-variables.scss",
        "icons/weather-icons/sass/weather-icons-classes.scss",
        "icons/weather-icons/sass/mappings/wi-yahoo.scss",
        "icons/weather-icons/sass/mappings/wi-forecast-io.scss",
        "icons/weather-icons/sass/mappings/wi-wmo4680.scss",
        "icons/weather-icons/sass/mappings/wi-owm.scss",
        "icons/weather-icons/sass/icon-variables/variables-beaufort.scss",
        "icons/weather-icons/sass/icon-variables/variables-time.scss",
        "icons/weather-icons/sass/icon-variables/variables-moon.scss",
        "icons/weather-icons/sass/icon-variables/variables-direction.scss",
        "icons/weather-icons/sass/icon-variables/variables-day.scss",
        "icons/weather-icons/sass/icon-variables/variables-night.scss",
        "icons/weather-icons/sass/icon-variables/variables-neutral.scss",
        "icons/weather-icons/sass/icon-variables/variables-misc.scss",
        "icons/weather-icons/sass/icon-classes/classes-day.scss",
        "icons/weather-icons/sass/icon-classes/classes-night.scss",
        "icons/weather-icons/sass/icon-classes/classes-neutral.scss",
        "icons/weather-icons/sass/icon-classes/classes-misc.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon-aliases.scss",
        "icons/weather-icons/sass/icon-classes/classes-time.scss",
        "icons/weather-icons/sass/icon-classes/classes-direction.scss",
        "icons/weather-icons/sass/icon-classes/classes-beaufort.scss"
      ]
    },
    {
      "path": "icons/weather-icons/sass/weather-icons.scss",
      "imports": [
        "icons/weather-icons/sass/weather-icons-core.scss",
        "icons/weather-icons/sass/weather-icons-variables.scss",
        "icons/weather-icons/sass/weather-icons-classes.scss",
        "icons/weather-icons/sass/mappings/wi-yahoo.scss",
        "icons/weather-icons/sass/mappings/wi-forecast-io.scss",
        "icons/weather-icons/sass/mappings/wi-wmo4680.scss",
        "icons/weather-icons/sass/mappings/wi-owm.scss",
        "icons/weather-icons/sass/icon-variables/variables-beaufort.scss",
        "icons/weather-icons/sass/icon-variables/variables-time.scss",
        "icons/weather-icons/sass/icon-variables/variables-moon.scss",
        "icons/weather-icons/sass/icon-variables/variables-direction.scss",
        "icons/weather-icons/sass/icon-variables/variables-day.scss",
        "icons/weather-icons/sass/icon-variables/variables-night.scss",
        "icons/weather-icons/sass/icon-variables/variables-neutral.scss",
        "icons/weather-icons/sass/icon-variables/variables-misc.scss",
        "icons/weather-icons/sass/icon-classes/classes-day.scss",
        "icons/weather-icons/sass/icon-classes/classes-night.scss",
        "icons/weather-icons/sass/icon-classes/classes-neutral.scss",
        "icons/weather-icons/sass/icon-classes/classes-misc.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon.scss",
        "icons/weather-icons/sass/icon-classes/classes-moon-aliases.scss",
        "icons/weather-icons/sass/icon-classes/classes-time.scss",
        "icons/weather-icons/sass/icon-classes/classes-direction.scss",
        "icons/weather-icons/sass/icon-classes/classes-beaufort.scss"
      ]
    },
    {
      "path": "icons/font-awesome/old/less/font-awesome.less",
      "imports": [
        "icons/font-awesome/old/less/variables.less",
        "icons/font-awesome/old/less/mixins.less",
        "icons/font-awesome/old/less/path.less",
        "icons/font-awesome/old/less/core.less",
        "icons/font-awesome/old/less/larger.less",
        "icons/font-awesome/old/less/fixed-width.less",
        "icons/font-awesome/old/less/list.less",
        "icons/font-awesome/old/less/bordered-pulled.less",
        "icons/font-awesome/old/less/animated.less",
        "icons/font-awesome/old/less/rotated-flipped.less",
        "icons/font-awesome/old/less/stacked.less",
        "icons/font-awesome/old/less/icons.less"
      ]
    },
    {
      "path": "icons/font-awesome/old/scss/font-awesome.scss",
      "imports": [
        "icons/font-awesome/old/scss/_variables.scss",
        "icons/font-awesome/old/scss/_mixins.scss",
        "icons/font-awesome/old/scss/_path.scss",
        "icons/font-awesome/old/scss/_core.scss",
        "icons/font-awesome/old/scss/_larger.scss",
        "icons/font-awesome/old/scss/_fixed-width.scss",
        "icons/font-awesome/old/scss/_list.scss",
        "icons/font-awesome/old/scss/_bordered-pulled.scss",
        "icons/font-awesome/old/scss/_animated.scss",
        "icons/font-awesome/old/scss/_rotated-flipped.scss",
        "icons/font-awesome/old/scss/_stacked.scss",
        "icons/font-awesome/old/scss/_icons.scss"
      ]
    },
    {
      "path": "icons/weather-icons/less/icon-classes/classes-wind.less",
      "imports": [
        "icons/weather-icons/less/icon-classes/classes-wind-degrees.less"
      ]
    },
    {
      "path": "icons/weather-icons/sass/icon-classes/classes-wind.scss",
      "imports": [
        "icons/weather-icons/sass/icon-classes/classes-wind-degrees.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7915,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "bracketize": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}